// Margin, Padding Helpers
$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (top, bottom, left, right);

// Setup margin horizontal and vertical
@each $space in $spaceamounts {
  @if $space == 0 {
    .mx {
      margin: #{$space} auto;
    }
  }
  .mx-#{$space} {
    margin-right: #{$space}px;
    margin-left: #{$space}px;
  }
  .px-#{$space} {
    padding-right: #{$space}px;
    padding-left: #{$space}px;
  }
  .my-#{$space} {
    margin-top: #{$space}px;
    margin-bottom: #{$space}px;
  }
  .py-#{$space} {
    margin-top: #{$space}px;
    margin-bottom: #{$space}px;
  }
}

// Setup individual margins: left, right, top, bottom
@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px;
    }
    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px;
    }
  }
}

// Setup all margins
@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}px;
  }
  .p-#{$space} {
    padding: #{$space}px;
  }
}
